@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navLinkActive {
    @apply text-orange-400 underline underline-offset-2;
  }
  .navLinkUnActive {
    @apply text-white hover:text-orange-400;
  }
}

canvas {
  width: 100%;
  height: 100%;
}

#heroThree {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.Mask {
  mask-image: url('/mask.svg');
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: linear-gradient(0deg, #e27f0f 0%, #da9007 100%);
  color: white;
}
